body {
  text-align: left;
  position: static;
  left: 0;
  top: 0;
  transform: translate(0%, 0%);

  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  min-height: 100vh;
  font-family: 'Montserrat', 'sans-serif';
  color: #fff;
  font-size: 1.2rem;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

label,
button {
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  border: solid black 1px;
  border-radius: 4px;
  text-align: center;
}

label {
  margin-right: 16px;
}

p {
    display: inline-flex;
}

/* button {
  justify-content: center;
  background: inherit;
  font-family: 'Montserrat', 'sans-serif';
  color: #fff;
  font-size: 1.2rem;
} */
